/* Author Richard A. Tanner */
/* Address Style */
address {
	font-family: arial;
	color: blue;
	font-size: 25px;
	
}

address img {
	border: 10px solid red;
}
/* Body Styles */
body {
background-image: url("richardtanner-pic2.jpg");
background-position: horizontal;
}
/* Table Styles */
table.table {
	background-color: white;
	opacity: 50%;
	border: 5px solid red;
	width: "500";
	text-align: center;
	
}
table.table thead {
	background-color: yellow;
}
table.table td {
	border: 2px solid black;
	font-size: 25px;
	
}
table.table tbody td {
	border-collapse: collapse;
}
